*~
*.swp
*.DS_Store*

/bin
/trash
/gen
/local.properties

/.apt_generated/
/.lint4jprefs
/lint.xml
/proguard/
/projectSet.psf

/obj/
/libs/mips/
/libs/armeabi-v7a/
/libs/armeabi/
/libs/x86/

/.gradle
/build
/.idea
/.settings



.README.md.html

.settings/org.eclipse.core.resources.prefs

custom_rules.xml

egm2008_se.geoid

my-release-key.keystore

src/gpsplus/rtkgps/geoportail/License.java

.crowdin-api-key
